section {
    
   
}
body{

 
}

.nav-link {
    color: white !important;
}
.navbar {
    background-color: darkorchid !important;

}
.producto {
    height: 200px !important;
}

.contacto {
    background-color: rgb(227, 209, 243);
    border-radius: 6px !important;
    padding: 5%;
}